# Rails
public/assets/*
spec
coverage
docs
db/data.yml
public/uploads/*
kubernetes/*

## Environment nomalisation
.bundle
vendor/bundle
node_modules
.git
config/database.yml
.env
.envrc

## log
log/*
tmp/*

## OSX
.DS_Store

## docker
.dockerignore
containers
docker-compose.yml
docker-compose.prod.yml
Dockerfile
