# Rails
public/assets/*
spec
coverage
docs
db/data.yml
public/uploads/*
kubernetes/*
deployments

## Environment nomalisation
.bundle
vendor/bundle
node_modules
.git
config/database.yml
.env
.envrc
.circleci

## log
log
tmp/*

## OSX
.DS_Store

## docker
.dockerignore
Dockerfile
build
