# Rails
public/assets/*

## Environment nomalisation
.bundle
vendor/bundle
node_modules
.git
config/database.yml

## log
log
tmp

## OSX
.DS_Store

## docker
.dockerignore
containers
docker-compose.yml
docker-compose.prod.yml
Dockerfile
