/.bundle

/log
/tmp

/vendor/bundle

/db/seeds/*

/coverage/*

/public/assets
/public/uploads

.env

.DS_Store
data.yml
npm-debug.log

# k8s
secret.yaml
kubernetes/rails/cm.yaml

# webpacker
/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity
app/javascript/lib/routes.ts
/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
