/.bundle

/log
/tmp

/vendor/bundle

/db/seeds/*

/coverage/*

/public/assets
/public/uploads

.env

.DS_Store
data.yml
/node_modules
npm-debug.log

# k8s
secret.yaml
kubernetes/rails/cm.yaml
/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity
app/javascript/lib/routes.ts
