- @title = '新規登録の受付終了'
h3.subtitle.is-3 = icon 'sign-in-alt', @title

.notification.is-info
  p ☆12参考表の新規登録の受付は終了しました。
  p 新規登録はデラレコをご利用ください。

.buttons
  = link_to 'https://record.iidx.app/', class: 'button is-success'
    = icon 'plus', 'デラレコで新規登録'
  = link_to new_user_session_path, class: 'button is-primary'
    = icon 'sign-in-alt', 'ログイン'

p 既存のアカウントをお持ちの方は引き続きログインできます。
