---
http_interactions:
- request:
    method: get
    uri: https://score.iidx12.tk/api/v1/scores/8594-9652?q%5Bmusic_score_level_eq%5D=12&q%5Bmusic_score_play_type_status_eq%5D=0&q%5Bversion_eq%5D=25
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"9b59a4f53931d267b79ace8092d3d568"
    body:
      encoding: UTF-8
      string: '{"count":271,"scores":[{"title":"V","level":12,"clear_type_status":"EX
        HARD CLEAR","difficulty_type_status":"ANOTHER","play_type_status":"SP","score":2402,"miss_count":28},{"title":"Colors
        (radio edit)","level":12,"clear_type_status":"EX HARD CLEAR","difficulty_type_status":"ANOTHER","play_type_status":"SP","score":2095,"miss_count":21},{"title":"A","level":12,"clear_type_status":"EX
        HARD CLEAR","difficulty_type_status":"ANOTHER","play_type_status":"SP","score":1924,"miss_count":20},{"title":"PLEASE
        DON''T GO","level":12,"clear_type_status":"HARD CLEAR","difficulty_type_status":"ANOTHER","play_type_status":"SP","score":2085,"miss_count"[...]
