.center
  h2 ハード参考表
  = link_to 'CLEAR', clear_sheets_path, class: 'btn btn-primary', data: { 'no-turbolink': true }
  p.btn.btn-danger HARD
  br
  br
  = render 'statistics'
- width , height = 150, 50
table.table.table-responsive.table-bordered
  thead
  tbody
    = render 'shared/state_example'
    - cnt = 0
    - (0..19).each do |ab|
      tr
        - if cnt < @sheets.size && @sheets[cnt].h_ability == ab
          th colspan=5 height=10 bgcolor="#f5deb3"
            center = @power[ab][0]
      - while cnt < @sheets.size && ab == @sheets[cnt].h_ability
        tr
        - (1..5).each do |i|
          - s = @sheets[cnt]
          - if cnt < @sheets.size && ab == s.h_ability
            td width=width height=height align="center" bgcolor=@color[s.id] class=s.version name="music"
              = link_to_if !current_user.nil? && current_user.iidxid == params[:iidxid], s.title, scores_path(s.id, 1), remote: true, class: 'music_link'
            - cnt += 1
javascript:
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
coffee:
  music_show = (obj) ->
    $(".#{obj.value}").show()
  music_hide = (obj) ->
    $(".#{obj.value}").hide()
  music_change = (obj) ->
    if obj.checked
      music_show(obj)
      state_counter()
    else
      music_hide(obj)
      state_counter()


  $('input[name="check"]').click ->
    if this.value is '0'
      $('input[name="check"]').prop('checked', this.checked)
      for obj in $('input[name="check"]')
        music_change(obj)
    music_change(this)

  state_counter = ->
    tds = $('td[name="music"]')
    all = fc = exh = h = c = e = a = f = 0

    for td in tds
      continue if td.style.cssText is 'display: none;'
      all++
      fc++  if td.bgColor is '#ff8c00'
      exh++ if td.bgColor is '#ffd900'
      h++   if td.bgColor is '#ff6347'
      c++   if td.bgColor is '#afeeee'
      e++   if td.bgColor is '#98fb98'
      a++   if td.bgColor is '#9595ff'
      f++   if td.bgColor is '#c0c0c0'
    n = all - fc - exh - h - c - e - a - f
    $('td#fc').text(fc)
    $('td#exh').text(exh)
    $('td#h').text(h)
    $('td#c').text(c)
    $('td#e').text(e)
    $('td#a').text(a)
    $('td#f').text(f)
    $('td#n').text(n)
    per = 0
    remain = ''
    if gon.sheet_type is 0
      per = fc + exh + h + c + e
      remain = "未クリア#{a + f + n}"
    else
      per = fc + exh + h
      remain = "未難#{c + e + a + f + n}"
    $('td#per').text("(#{per}/#{all})")
    $('td#remain').text(remain)

  state_counter()
