.uk-grid.uk-grid-match data-uk-grid-margin=""
  .uk-width-medium-1-2
    h2 = fa_icon 'users', text: @title
  .uk-width-medium-1-2
    = form_tag users_path, method: :get, class: 'uk-form right djname-search'
      = fa_icon 'search', text: 'DJNAMEから検索'
      .uk-form-row
        = text_field_tag :query, params[:query], place: 'DJNAME'
        button.uk-button.uk-button-primary onClick="$('.uk-panel > .uk-form').submit()"
          = fa_icon 'search', text: '検索'
hr
form.uk-form
  - if @scores_map
    = render 'shared/list'
  - else
    = render 'users/list'

javascript:
  function format(val) {
    const mapping = {
      '皆伝': 0,
      '中伝': 1,
      '十段': 2,
      '九段': 3,
      '八段': 4,
      '七段': 5,
      '六段': 6,
      '五段': 7,
      '四段': 8,
      '三段': 9,
      '二段': 10,
      '初段': 11,
      '初級': 12,
      '二級': 13,
      '三級': 14,
      '四級': 15,
      '五級': 16,
      '六級': 17,
      '七級': 18,
      '無段位': 19,
    };
    const res = mapping[val];
    return res || -1;
  }

  $.extend($.fn.dataTable.ext.type.order, {
    'grade-asc'(x, y) {
      x = format(x);
      y = format(y);
      return ((x < y) ? -1 : ((x > y) ? 1 : 0));
    },
    'grade-desc'(x, y) {
      x = format(x);
      y = format(y);
      return ((x < y) ? 1 : ((x > y) ? -1 : 0));
    },
  });
