apiVersion: v1
kind: ConfigMap
metadata:
  name: rails-config
  namespace: abilitysheet
data:
  AWS_ACCESS_KEY: xxxxxxxxxxxxxxxxxxxx
  AWS_SECRET_KEY: yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy
  AWS_REGION: ap-northeast-1
  DATABASE_HOST: pg-service
  IIDX_GRADE: "0"
  IIDX_VERSION: "25"
  MEMORY: "2048"
  NOTIFY_SLACK_URL: https://hooks.slack.com/services/xxxxxxxxx/yyyyyyyyy/zzzzzzzzzzzzzzzzzzzzzzzz
  RAILS_ENV: production
  RAILS_LOG_TO_STDOUT: "true"
  RAILS_FORCE_SSL: "false"
  RAILS_SERVE_STATIC_FILES: "true"
  RAILS_HOST: abilitysheet.192.168.64.3.nip.io
  REDIS_URL: redis://redis-service.default.svc.cluster.local:6379
  SENTRY_DSN: https://xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx:yyyyyyyyyyyyyyyyyyyyyyyyyyyyyyyy@aaaaaa.bbbb.cc/2
  SENTRY_JS_DSN: https://xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx@aaaaaa.bbbb.cc/12
  TWITTER_TOKENS: aaaaaaaaaaaaaaaaaaaaaaaaa,bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb,cccccccccccccccccccccccccccccccccccccccccccccccccc,ddddddddddddddddddddddddddddddddddddddddddddd
  iidxme: "true"
