- @title = '連携アプリについて'
article.message.is-info
  .message-header
    p = @title
  .message-body.content
    p 対応している連携ログインアプリは以下です。
    .content
      ul
        li Google
    p 連携ログインは、既存のアカウントをお持ちの方が利用できます。
    p
      | ログイン後に右上の
      = link_to 'ユーザ編集ページ', edit_user_registration_path
      | から連携を行っていただくことで次回以降、連携ログインが利用できます。
    p
      | ☆12参考表の新規登録の受付は終了しました。新規登録は
      = link_to 'デラレコ', 'https://record.iidx.app/'
      | をご利用ください。
