<% if current_page.first? %>
  <li class="uk-disabled">
    <%= raw(t 'views.pagination.previous') %>
  </li>
<% else %>
  <li>
    <%= link_to raw(t 'views.pagination.previous'), url, remote: remote %>
  </li>
<% end %>
