.side-bar
  position: absolute
  top: 61px
  left: 0
  bottom: 10px
  overflow: hidden
  overflow-y: auto
  width: 280px
  &.menu
    padding: 5px
    .list-group
      margin-top: 1px
    h4
      display: inline-block
      margin-top: 5px

.loading-container
  z-index: 10000
  position: absolute
  left: 0
  top: 0
  bottom: 0
  right: 0
  text-align: center
  background-color: white
  opacity: 0.5
  padding-top: 25%
  display: none

table.table
  tr
    td.left, td.center, td.right
      vertical-align: middle
    .mail-info
      max-width: 400px
      overflow: scroll
      span.mail-body
        white-space: pre
        height: 200px
        max-height: 200px
        width: 100%
        display: inline-block
        overflow: scroll
        border: 1px solid rgb(174, 174, 174)
        padding: 4px
        background-color: rgb(255, 255, 218)
      span.from
        display: block
      hr
        margin: 4px 0
