| こんにちは、
| #{@resource.email}
| さん。
br
br
| ホームページからパスワードを再発行するリクエストを得ました。
br
| 以下のリンクからパスワードを変更することが出来ます。
br
br
| #{link_to 'パスワードの変更', edit_user_password_url(@resource, reset_password_token: @token)}
br
br
| もしこのリクエストを行った覚えがない場合、このメールは無視して下さい。
br
| パスワードの再発行は上記リンクで操作を行うまで行われません。
br
| ---------------------------------------------------
br
| ※ このメールアドレスには返信ができません。
