| こんにちは
| #{@resource.email}
| !
| #{"\r\n"}
| 貴方のアカウントはログインの失敗回数が上限に達したため，凍結されました．
| #{"\r\n"}
| 下記のリンクより貴方のアカウント凍結を解除することが出来ます．
| #{"\r\n"}
| #{link_to 'アカウント凍結の解除', unlock_url(@resource, unlock_token: @token)}
| #{"\r\n"}
| ---------------------------------------------------
| #{"\r\n"}
| ※ このメールアドレスには返信ができません。
