| こんにちは、
| #{@resource.email}
| さん。
br
br
| 貴方のアカウントはログインの失敗回数が上限に達したため、凍結されました。
br
| 下記のリンクより貴方のアカウント凍結を解除することが出来ます。
br
br
| #{link_to '凍結解除', unlock_url(@resource, unlock_token: @token)}
br
br
| ---------------------------------------------------
br
| ※ このメールアドレスには返信ができません。
